:root {
    --brandColor: #fff;
    --bg: #141414;
}

@font-face {
    font-family: "s";
    src: url("../fonts/s.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "s";
    color: var(--brandColor);
    font-size: 17px;
    line-height: 1.5;
    font-weight: normal;
    background-color: rgb(254, 217, 222);
    margin: 0;
}

a {
    color: var(--brandColor);
    font-style: bold;
    font-weight: bold;
    text-decoration: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 1.5rem;
    z-index: 50;
}
header ul {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
}
header ul li {
    transform: translateY(-1rem);
    opacity: 75%;
}
header .link {
    transition: all 0.4s ease-in-out;
    opacity: 75%;
}
header .link:hover,
header .link.active {
    opacity: 100%;
}

.domLoaded.noDelay header ul li:nth-child(1) {
    transition-delay: 0.4s;
}
.domLoaded.noDelay header ul li:nth-child(2) {
    transition-delay: 0.5s;
}
.domLoaded.noDelay header ul li:nth-child(3) {
    transition-delay: 0.6s;
}
.domLoaded header ul li {
    transform: none;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.domLoaded header ul li:nth-child(1) {
    transition-delay: 5.5s;
}
.domLoaded header ul li:nth-child(2) {
    transition-delay: 5.6s;
}
.domLoaded header ul li:nth-child(3) {
    transition-delay: 5.7s;
}

.filter-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 5px;
    margin-right: 30px;
    margin-left: 50px;
}

.tipe {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.rasa {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: black;
}

select {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    appearance: none;
}

button {
    display: flex;
    flex-direction: right;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 0%;
    padding: 10px 50px;
    background-color: #ff8fb2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ffb7c4;
}

/* Ice Creams */
.icecream {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
    margin: 50px;
}

.card {
    background-image: linear-gradient(45deg, pink, white);
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);
}

.card-content {
    color: rgb(55, 55, 55);
    font-weight: normal;
    padding: 15px;
    flex: 5;
    display: flex;
    flex-direction: column;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

.card-content p {
    margin: 0 0 10px;
    color: rgb(55, 55, 55);
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: rgb(55, 55, 55);
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-size: cover;
}

.peringatan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Modify styles for screens smaller than 768px */
    .filter-form {
        grid-template-columns: 1fr;
        margin: 50px 20px;
    }

    .icecream {
        grid-template-columns: 1fr;
        margin: 50px 20px;
    }

    .card {
        margin-bottom: 20px;
    }
}
